@{
    ViewData["Title"] = "Home Page";
}
@section Scripts {
    <script type="text/javascript">
        $(function () {
            AjaxDataTable.render($("#city-list1"),
                {
                    width: "80%",

                    onQuery: function () {
                        return { query: $("#query").val() };
                    },

                    cellRenderer: function (column_model, table_data, row_index) {
                        return AjaxDataTable.defaultCellRenderer(column_model, table_data, row_index);
                    },

                    onCellClicked: function (column_model, table_data, row_index) {
                        console.log("List 1: " + JSON.stringify(table_data.data[row_index]));
                    },

                    onHeaderClicked: function (column_model, table_data) {
                        //alert(JSON.stringify(column_model.name));
                        return true;
                    },

                    onLoaded: function () {
                        console.log("List 1 loaded");
                    },

                    page: 1 //page index is started at 0
                }
            );

            AjaxDataTable.render("#city-list2",
                {
                    width: "50%",

                    onQuery: function () {
                        return { query: $("#query").val() };
                    },

                    onCellClicked: function (column_model, table_data, row_index) {
                        console.log("List 2: " + JSON.stringify(table_data.data[row_index]));
                    },

                    onLoaded: function () {
                        console.log("List 2 loaded");
                    }
                }
            );

            AjaxDataTable.render($("#local-data-list"),
                {
                    width: "80%",

                    onCellClicked: function (column_model, table_data, row_index) {
                        console.log("List 3: " + JSON.stringify(table_data.data[row_index]));
                    },

                    onLoaded: function () {
                        console.log("List 3 loaded");
                    },

                    modelProvider: function (url, onsuccess, onerror) {
                        if (!$.isFunction(onsuccess)) {
                            return;
                        }

                        var table_model = [{ "name": "_index", "title": "", "type": "index", "width": "30px", "align": "center", "sorting_enabled": false, "visible": true }, { "name": "id", "title": "ID", "type": "text", "width": "200px", "align": "right", "sorting_enabled": false, "visible": true }, { "name": "name", "title": "Name", "type": "text", "width": null, "align": "left", "sorting_enabled": true, "visible": true }, { "name": "district", "title": "District", "type": "text", "width": "200px", "align": "center", "sorting_enabled": true, "visible": true }, { "name": "country", "title": "Country", "type": "text", "width": "100px", "align": "center", "sorting_enabled": false, "visible": true }, { "name": "population", "title": "Population", "type": "text", "width": "150px", "align": "right", "sorting_enabled": true, "visible": true }, { "name": "_check", "title": "", "type": "check", "width": "60px", "align": "center", "sorting_enabled": false, "visible": true }];

                        onsuccess(table_model);
                    },

                    dataProvider: function (url, params, onsuccess, onerror) {
                        if (!$.isFunction(onsuccess)) {
                            return;
                        }

                        var table_data = { "data": [{ "id": 698, "name": "[San Cristóbal de] la Laguna", "population": 127945, "district": "Canary Islands", "country": "ESP" }], "current_page": 0, "total_page": 1, "page_size": 20, "total": 1, "sort_by": "name", "sort_direction": "a", "summary": { "population": 0 } };
                        onsuccess(table_data);
                    }
                }
            );
        });
    </script>
}
<div class="text-center">
    <h1 class="display-4">ajax-data-table</h1>
    <div>
        Filter:
        <input id="query" /><input type="button" onclick="AjaxDataTable.render($('.sample-list'), 'refresh'); event.preventDefault();" value="Search" />

        <h2>This table is loaded at page 2 by default</h2>
        <a id="city-list1" href="@Url.Action("IndexAjaxList", "Home" )" class="sample-list"></a>

        <br style="clear: both;" />
        <hr />

        <h2>A 50%-width data table</h2>
        <a id="city-list2" href="@Url.Action("IndexAjaxList", "Home" )" class="sample-list"></a>

        <br style="clear: both;" />
        <hr />
        <h2>Local data sample</h2>
        <a id="local-data-list" href="#"></a>
    </div>
</div>
